.completeChanllangesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;
    font-family: 'Inter';
}

.completeChanllangesContainer span:first-child{
    font-size-adjust: 1.25rem;
}

.completeChanllangesContainer span:last-child{
    font-size-adjust: 1.5rem;
}
